---
layout: default
---

{% assign presskit = site.data.presskit %}

<div class='root container'>

  <header>
  {% for file in site.static_files %}
    {% if file.path == '/images/header.png' %}
    <img src='images/header.png' class='header'>
    {% endif %}
  {% endfor %}
  </header>

  <div class='container'>
    <div class='box'>
      <h2 id='factsheet'>Factsheet</h2>
      <dl>
        <dt>Developer:</dt>
        <dd><a href=''>{{presskit.title}}</a></dd>
        <dd>Based in {{presskit.city}}</dd>

        <dt>Founding date:</dt>
        <dd>{{presskit.founded}}</dd>

        <dt>Website:</dt>
        <dd><a href='http://{{presskit.website}}'>{{presskit.website}}</a></dd>

        <dt>Press / Business contact:</dt>
        <dd href='mailto:{{presskit.press}}'>{{presskit.press}}</dd>

        <dt>Social:</dt>
        <dd><a href='http://twitter.com/{{presskit.social.twitter}}'>twitter.com/{{presskit.social.twitter}}</a></dd>
        <dd><a href='http://facebook.com/{{presskit.social.facebook}}'>facebook.com/{{presskit.social.facebook}}</a></dd>
        <dd><a href='http://callto:{{presskit.social.skype}}'>Skype</a></dd>

        <dt>Releases:</dt>
        {% for game in site.games %}
          <dd><a href='{{game.url | remove_first:'/' | remove: '.html' | prepend: base_url}}'>{{game.title}}</a></dd>
        {% else %}
          <dd>-</dd>
        {% endfor %}

        <dt>Address:</dt>
        {% for address_line in presskit.address %}
          <dd>{{address_line}}</dd>
        {% endfor %}
        </dt>

        <dt>Phone:</dt>
        <dd>{{presskit.phone}}</dd>
      </dl>
    </div>

    <div class='box'>
      <div class='box'>
        <h2 id='description'>About Us</h2>
        <p>{{presskit.description}}</p>
      </div>

      <div class='box'>
        <h2 id='history'>History</h2>
        {% for story in presskit.history %}
          <h3>{{story.header}}</h3>
          <p>{{story.text}}</p>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class='box'>
    <h2 id='projects'>Projects</h2>
    <ul class='project-list'>
    {% for game in site.games %}
      <li><a href='{{game.url | remove_first:'/' | remove: '.html' | prepend: base_url}}'>{{game.title}}</a></li>
    {% else %}
      <li>No pain no game</li>
    {% endfor %}
    </ul>
  </div>

  <div class='box'>
    <h2 id='trailers'>Videos</h2>

    {% for trailer in presskit.trailers %}
      {% include trailer.html %}
    {% else %}
      <p>There are currently no trailers available for {{presskit.title}}. Check back later for more or <a href='#contact'>contact us</a> for specific requests!</p>
    {% endfor %}
  </div>

  <div class='box'>
    <h2 id='images'>Images</h2>
    <a href='images/images.zip' class='notice'>download all screenshots &amp; photos</a>

    <div class='masonry'>
    {% for file in site.static_files %}
      {% assign image = file.path | split: '/' %}
      {% assign filename = image | last %}
      {% if image[1] == 'images' and filename != 'header.png' and filename != 'logo.png' and filename != 'icon.png' %}
      <div class='masonry-item'>
        <a href='{{file.path | remove_first:'/'}}'>
          <img src='{{file.path | remove_first:'/'}}' alt='{{image | last}}' />
        </a>
      </div>
      {% endif %}
    {% endfor %}
    </div>

    <p class='images-text'>There are far more images available for {{presskit.title}}, but these are the ones we felt would be most useful to you. If you have specific requests, please do <a href='#contact'>contact us</a>!</p>
  </div>

  <div class='box'>
    <h2 id='logo'>Logo &amp; Icon</h2>
    <a href='images/logo.zip' class='notice'>download all logo files</a>

    <div>
      <a href='images/logo.png'>
        <img src='images/logo.png' alt='logo' />
      </a>
    </div>
  </div>

  <div class='box'>
    <h2 id='awards'>Awards &amp; Recognition</h2>
    <ul>
      {% for award in presskit.awards %}
        <li>'{{award.description}}' - <cite>{{award.info}}</cite></li>
      {% endfor %}
    </ul>
  </div>

  <div class='box'>
    <h2 id='quotes'>Selected Articles</h2>
    
    {% for quote in presskit.quotes %}
    <blockquote>
      <p>{{quote.description}}</p>
      <footer>
        — <cite>{{quote.name}}, <a href='{{quote.link}}'>{{quote.website}}</a></cite>
      </footer>
    </blockquote>
    {% endfor %}      
  </div>

  <div class='box'>
    <h2 id='links'>Additional Links</h2>

    <dl>
    {% for additional in presskit.additionals %}
      <dt><a href='{{additional.link}}' alt='{{additional.link}}'>{{additional.title}}</a></dt>
      <dd>{{additional.description}}</dd>
    {% endfor %}
    </dl>
  </div>

  <div class='container'>
    <div class='box'>
      <h2 id='credits'>Team &amp; Repeating Collaborator</h2>

      <dl>
      {% for credit in presskit.credits %}
        <dt>{{credit.person}}</dt>
        <dd><a href='http://{{credit.website}}'>{{credit.role}}</a></dd>
      {% endfor %}
      </dl>
    </div>

    <div class='box'>
      {% include contacts.html %}
    </div>
  </div>

  <div class='box'>
    <p>Based on <a href='http://dopresskit.com/'>presskit()</a> by Rami Ismail (<a href='http://www.vlambeer.com/'>Vlambeer</a>) - also thanks to <a href='sheet.php?p=credits'>these fine folks</a></p>
  </div>
</div>
