@import url(https://fonts.googleapis.com/css?family=Quattrocento:400,700|Open+Sans:400,300,700);

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
	line-height:1.6em;
}

.root {
	max-width: 767px;
	margin: auto;
}

.container {}

.box {
	max-width: 600px;
}

h2, h3 {
	font-family: 'Quattrocento', serif;
}

@media (max-width: 767px) {
	h2 {
		margin-top: 25px;
	}
}
