<div>
  <p>{{trailer.name}}</p>
  <ul class='link-list'>
    {% if trailer.youtube %}<li><a href='https://youtu.be/{{trailer.youtube}}'>YouTube</a></li>{% endif %}
    {% if trailer.vimeo %}<li><a href='https://www.vimeo.com/{{trailer.vimeo}}'>Vimeo</a></li>{% endif %}
    {% if trailer.dailymotion %}<li><a href='https://dai.ly/{{trailer.dailymotion}}'>Dailymotion</a></li>{% endif %}
    {% if trailer.mov %}<li><a href='{{base_url}}/trailers/{{trailer.mov}}'>.mov</a></li>{% endif %}
    {% if trailer.mp4 %}<li><a href='{{base_url}}/trailers/{{trailer.mp4}}'>.mp4</a></li>{% endif %}
  </ul>

  {% if trailer.youtube %}
  <div class='iframe-container'>
    <iframe src='//www.youtube.com/embed/{{trailer.youtube}}' frameborder='0' allowfullscreen></iframe>
  </div>
  {% else if trailer.vimeo %}
  <div class='iframe-container'>
    <iframe src='//player.vimeo.com/video/{{trailer.vimeo}}' frameborder='0' allowfullscreen></iframe>
  </div>
  {% else if trailer.dailymotion %}
  <div class='iframe-container'>
    <iframe src='//dailymotion.com/embed/video/{{trailer.dailymotion}}' frameborder='0' allowfullscreen></iframe>
  </div>
  {% endif %}

</div>
