<div class='box'>
  <p>{{trailer.name}}
    (<span class='inline-list'>
      {% if trailer.youtube %}<a href='https://youtu.be/{{trailer.youtube}}'>YouTube</a>{% endif %}
      {% if trailer.vimeo %}<a href='https://www.vimeo.com/{{trailer.vimeo}}'>Vimeo</a>{% endif %}
      {% if trailer.dailymotion %}<a href='https://dai.ly/{{trailer.dailymotion}}'>Dailymotion</a>{% endif %}
      {% if trailer.mov %}<a href='{{base_url}}/trailers/{{trailer.mov}}'>.mov</a>{% endif %}
      {% if trailer.mp4 %}<a href='{{base_url}}/trailers/{{trailer.mp4}}'>.mp4</a>{% endif %}
    </span>)
  </p>

  {% if trailer.youtube %}
  <div class='iframe-container'>
    <iframe src='//www.youtube.com/embed/{{trailer.youtube}}' frameborder='0' allowfullscreen></iframe>
  </div>
  {% else if trailer.vimeo %}
  <div class='iframe-container'>
    <iframe src='//player.vimeo.com/video/{{trailer.vimeo}}' frameborder='0' allowfullscreen></iframe>
  </div>
  {% else if trailer.dailymotion %}
  <div class='iframe-container'>
    <iframe src='//dailymotion.com/embed/video/{{trailer.dailymotion}}' frameborder='0' allowfullscreen></iframe>
  </div>
  {% endif %}

</div>
