{% assign base_url = '' %}
{% assign depth = page.url | split: '/' | size | minus: 1 %}
{% if    depth == 1 %}{% assign base_url = '.' %}
{% elsif depth == 2 %}{% assign base_url = '..' %}
{% elsif depth == 3 %}{% assign base_url = '../..' %}
{% elsif depth == 4 %}{% assign base_url = '../../..' %}{% endif %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{site.data.presskit.title}}</title>
		<link href="{{base_url}}/style.css" rel="stylesheet">
	</head>

  <body>
		{{content}}

		<!-- Google Analytics Here -->
	</body>
</html>
