{% assign base_url = '' %}
{% assign depth = page.url | split: '/' | size | minus: 1 %}
{% if    depth == 1 %}{% assign base_url = '.' %}
{% elsif depth == 2 %}{% assign base_url = '..' %}
{% elsif depth == 3 %}{% assign base_url = '../..' %}
{% elsif depth == 4 %}{% assign base_url = '../../..' %}{% endif %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{site.data.presskit.title}}</title>
		<link href="http://cdnjs.cloudflare.com/ajax/libs/uikit/1.2.0/css/uikit.gradient.min.css" rel="stylesheet" type="text/css">
		<link href="{{base_url}}/style.css" rel="stylesheet">
	</head>

  <body>
		{{content}}

		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.js"></script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.min.js"></script>
		<script type="text/javascript">
			$( document ).ready(function() {
				var container = $('.images');

				container.imagesLoaded( function() {
					container.masonry({
						itemSelector: '.uk-width-medium-1-2',
					});
				});
			});
		</script>

		<!-- Google Analytics Here -->

	</body>
</html>
